#tooltip {
  background-color: black;
  color: white;
  width: 120px;
  height: 50px;
  transform: translate(640px, 10px);
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 20%;
}

.mbtn {
  width: 200px;
  height: 100px;
  border-radius: 30%;
  background-color: tomato;
  color: black;
  font-size: large;
}

.btn-contain {
  margin: 20px auto;
  transform: translate(600px, 200px);
}

.left {
  transform: translate(470px, 90px) !important;
}

.right {
  transform: translate(810px, 90px) !important;
}

.bottom {
  transform: translate(650px, 190px) !important;
}

.dd {
  transform: translate(-100px, -200px);
  width: 500px;
}

body {
  background-color: grey;
}
